<div ng-controller='ProfileController'>
  <div class="row">
    <div class="small-6 columns">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <h3 ng-bind="user.name"></h2>
    </div>
    <div class="small-6 columns">
      <h3 ng-bind="user.email"></h3>
    </div>
    <hr>
  </div>
  <div class="row">
		<div class="small-12 columns">
      <h2>Pending Tasks</h2>
			<div class="table-scroll">
				<table>
          <thead>
            <th>Task</th>
            <th>Deadline</th>
            <th></th>
          </thead>
          <tr ng-repeat="task in pending">
            <td><a href="#/tasks/{{task._id}}">{{task.name}}</a></td>
            <td ng-bind="getDate(task.deadline)"></td>
            <td class="text-right"><button ng-click="" type="button" class="button tableButton">Completed</button></td>
          </tr>
				</table>
			</div>
      <div class="text-center">
        <button class="button" ng-click="toggleCompleted()">Show Completed</button>
      </div>
      <div class="table-scroll" ng-show="showCompleted">
				<table>

				</table>
			</div>
		</div>
	</div>
</div>
